body{
    background-color: rgb(218, 218, 218);
    margin:0;
    min-width: 300px;
}

footer{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
}

footer a{
    text-decoration: none;
    color: rgb(31 41 55);
}

h1{
    margin: 0;
}

.page-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;

}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:60px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1200px;
    box-sizing: border-box;
}

.img-wrapper{
    order:1;
    display: flex;
    justify-content: center;
}

.img{
    width: 100%;
    border-radius: 6px;
}

.description{
    order:2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
}

.btn{
    background-color: rgb(70, 70, 137);
    color: white;
    font-weight: 600;
    width: 260px;
    padding: 6px;
    position: relative;
    z-index: 200;
    cursor: pointer;
    transition:0.3s;
    margin-bottom: 20px;
}


.btn:hover{
    background-color: rgb(92, 92, 160);
}

.canvas{
    position: absolute;
    width: 100%;
    height: 100vh;
    top:0;
    z-index: 100;
}

.video{
    margin-top:120px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1200px;
    box-sizing: border-box;
    height: 400px;
}

.random-cocktail{
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1200px;
    box-sizing: border-box;
    margin-top:100px;
    margin-bottom:100px;

}

.random-cocktail-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.random-cocktail-texts{
    order:2;
    width:300px;
    margin-top: 60px;
}


.random-cocktail-title{
    margin-bottom: 40px;
}

.random-cocktail-image{
    width: 100%;
    order:1;
}

.ingridients-list{}


@media only screen and (max-width: 900px) {

   .random-cocktail-texts{
    margin-top: 0px;
   }

   .random-cocktail-content{
    grid-template-columns: auto;
}

  }


@media only screen and (max-width: 720px) {

    .main{
        grid-template-columns: 1fr;
    }


    .img-wrapper{
        order:2;
    }

    .description{
        order:1;
        margin: auto; 
        align-items: center;  
     }

     h1{
        text-align: center;
    }

     .intro{
        text-align: center;
     }

     .img{
        width: 60%;
     }

     .random-cocktail-texts{
        order:1;
        margin:auto;
       }

     .random-cocktail-image{
        width: 80%;
        order:2;
        margin:auto;
    }

  }

  